<div class="container">
    <h4>Welcome to the Photos Page</h4>
  </div>

  <div class="container">
    <form>
      <label>Enter Photo ID</label>
      <input class="form-control" id="photoid" type="text" placeholder="Enter photo ID...">
      <button class="btn btn-primary">Submit</button>
    </form>
    <div *ngFor="let photo of photos">
      <div class="display">
        <h5><strong>Album ID :</strong>{{photo.albumId}}</h5>
        <img src="{{photo.url}}">
       </div> 
    </div>

  </div>